.image{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-position: center;
    margin:auto;
    box-shadow: #121212c4 0px 0px 3px 0px;
}

.container{
    max-width: 700px;
}

@keyframes appear {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
}