.toogle{
    background-color: transparent !important;
    color: white;
    box-shadow: none !important;
    padding: 0;


    &::after{
        display: none;
    }
}

.subsection{
    color: rgb(219, 219, 219);
    padding: 30px 0;
}

.menu{
    height: 100vh;
    position: fixed !important;
    background-color: black !important;
    padding: 40px calc(var(--bs-gutter-x) * 0.5 + 12px) !important;
    transform: none !important;
    z-index: -1 !important;
    border: none !important;
    border-radius: 0 !important;

    a {
        padding-bottom: 30px;
    }
}