.model3D{
    width:100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
    background-color: #3b3b3b;

    iframe {
        position: absolute;
        top: -10vh;
        width: 100vw;
        height: 70vh;
    }
}

.background{
    height: 10vh;
    width:100vw;
    background-color:#f6f6f6;
    margin: auto;
}

.navigate{
    position: absolute;
    top: 10vh;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.267), white, rgba(255, 255, 255, 0.267));
    animation: disappear 1s ease-in-out 2s forwards;
}

@keyframes disappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
  
    to {
      opacity: 0;
      transform: translateY(-10vh);
    }
  }
