.form{
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background-color: black;
    color: white;
}

.spinner{
    min-height: 50vh;
    margin: auto;
    display: flex;
}

.linkedin{
    margin: auto;
}

.input{
    width: 100%;
    margin-bottom: 30px;
}

.button{
    background-color: black;
    border: solid 2px white;
    min-width: 200px;
    transition: all 1s;
    color: white;

    &:hover{
        background-color:white;
        border: solid 2px black;
        color: black;
    }
}