@import './../../../styles/mixins.scss';

.transparentWrapper{
    background-image: linear-gradient(to right, transparent, transparent) !important;
    
    @include for-desktop-up {
        background-image: linear-gradient(to right, #fc6868,black, black, #181818);
    }

    a {
        color: white !important;
    }
}

.headerWrapper{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: radial-gradient(#cfcdcd, #FFFFFF);
    padding: 10px 0;

    a {
        padding-right: 30px;
        font-family: 'Marcellus SC', serif;
        color: black;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .button{
        background-color: white;
        color: black;
    }
}