.title{
    font-family: 'Diphylleia', serif;
    padding-bottom: 10px;
}

.subtitle{
    padding-bottom: 4rem;
    font-family: 'Diphylleia', serif;
}

.quote{
    max-width: 500px;
    margin: auto;
}