@use './../../../styles/variables.scss';
@import './../../../styles/mixins.scss';

.item{
    height: 60vh;

    &:hover .caption{
        background: rgba(0, 0, 0, 0.2); 
    }

    .caption{
        color: white;
        transition: all 0.5s ease;
        background: rgba(0, 0, 0, 0.4);
        padding: 20px;
    }

    .image{
        height: 100%;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            transition: all 0.5s ease;
        }

        img{
            min-width: 100%;
            width: auto !important;
            min-height: 100%;
        }

        @include for-phone-only {    
            transform: translateX(-25vw); 
        }
    }

    &:hover .image::after{
        background: rgba(0, 0, 0, 0.2);
    }
}

.carousel{
    box-shadow: #121212c4 0px 0px 3px 0px;
}

.carouselWrap{
    @include for-desktop-up {    
        padding-right: 15vw;
    }   
}