.background{
    background-image: radial-gradient(circle at center, rgb(27, 26, 19), black);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
}

.canvas {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.canvas_wrapper {
    opacity: 0;
}

.canvas_anim {
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
}

.margin_top_content{
    position: relative;
    padding-top: 40vh;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
        opacity: 0;
    }
  }