.background{
    background-image: url('https://res.cloudinary.com/djlwtz7qw/image/upload/v1688105658/background_dalnbr.webp');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
}

.canvas {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.canvas_wrapper {
    opacity: 0;
}

.canvas_anim {
    opacity: 0;
}

.margin_top_content{
    position: relative;
    padding-top: 40vh;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
        opacity: 0;
    }
  }