@import '../../../styles/mixins.scss';

.card{
    height: 100%;
    border-radius: 0;
    border:none;
    box-shadow: 0 0 4px #5f5f5f;

    p {
        color: #6b7075;
    }
}

.image{
    @include for-phone-only {
        height: 100%;
    }
}