@import '../../../styles/mixins.scss';

.buttonFixed{
    position: fixed;
    background-color: black;
    padding: 10px 15px;
    right:30px;
    bottom: 5vh;
    z-index: 2;

    a{
        color: white;
        text-decoration: none;
    }

    @include for-desktop-up {
        right: 50px;
        bottom: 50px;
    }
}