@import "./customBootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Quicksand&family=Diphylleia&display=swap');

h1, h2 {
    margin: unset;
}

body{
    background-color: #f6f6f6;
}

h1, h2, h3 {
    font-family: 'Marcellus SC', serif;
}

