@import "./customBootstrap.scss";
@import './mixins.scss';

h1, h2 {
    margin: unset;
}

body{
    background-color: #f6f6f6;
}

h1, h2, h3 {
    font-family: 'Marcellus SC', serif;
}

p{
    @include for-phone-only {
        padding: 0 10px;
    }
}
