@use '../../../styles/mixins.scss';

.titleWrapper{
    position: absolute;
    font-family: 'Gothic A1', sans-serif;
    width: 100vw;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(45vh);
    text-shadow: white 1px 0 20px, white 1px 0 10px, white 1px 0 20px, white 1px 0 20px, white 1px 0 20px, white 1px 0 20px;
}

.title {
    font-size: 40px;

    @include mixins.for-phone-up {    
        font-size: 60px; 
    }
}

.subtitle {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Jaldi', sans-serif;
}

.animateTitle {
    animation: slideTitles 2.5s ease-in-out 1s forwards;
}

@keyframes slideTitles {
    from {
      transform: translateY(45vh);
    }
  
    to {
      transform: translateY(10vh);
    }
}