@import '../../../styles/mixins.scss';

.titleWrapper{
    position: absolute;
    font-family: 'Marcellus SC', serif;
    width: 100vw;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color:white;
}

.transparent{
    color: transparent;
}

.titlePresentation{
    font-size: 2rem;
    color: rgb(202, 201, 201);
    text-align: center;
}
.word {
    margin: auto;
    color: white;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324
}

.title {
    font-size: 40px;

    @include for-tablet-portrait-up {    
        font-size: 60px; 
    }
}

.subtitle {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Jaldi', sans-serif;
}